Output
Makefile
*.make
.vs
*.sln
*.filters
*.vcxproj
*.user
/UCodeEditor/UFiles/source/NStandardLibrary
/UCodeEditor/UFiles/source/StandardLibrary
/UCodeEditor/UFiles/source/UCodeGameEngineEditor
/UCodeEditor/UFiles/source/UCodeGameEngine
/UCodeApp/GameFiles.data
/UCodeEditor/UFiles/bin
/UCodeEditor/UFiles.data
/UCodeAPI/GameEngine/src/API.uc
