Output
.vs
*.sln
*.filters
*.vcxproj
*.user
.vscode/
Makefile
/UCodeEditor/UFiles/source/NStandardLibrary
/UCodeEditor/UFiles/source/StandardLibrary
/UCodeEditor/UFiles/source/UCodeGameEngineEditor
/UCodeEditor/UFiles/source/UCodeGameEngine
